div(id='containerFoot')
    h1 Contact
    div(id='containerAdresse')
        p Safranière du Val d'Arly,
        p Notre-Dame-de-Bellecombe, 
        p 73590, Savoie
    div(id='containerContact')
        div(id='containerEmail')
            img(src="img/iconEmail.png", alt="safraniereduvaldarly@gmail.com")
            p safraniereduvaldarly@gmail.com
        div(id='containerTelephone')
            img(src="img/iconTelephone.png", alt="+330650675543")
            p 06 50 67 55 43
        a(id='containerFacebook' href='https://www.facebook.com/safraniere.duvaldarly.3')
            img(src="img/iconFacebook.png", alt="https://www.facebook.com/safraniere.duvaldarly.3")
            p Facebook
        a(id='containerYoutube' href='https://www.youtube.com/channel/UCgmdorGGzbFgzyE2A8k68dw')
            img(src="img/iconYoutube.png", alt="https://www.youtube.com/channel/UCgmdorGGzbFgzyE2A8k68dw")
            p Youtube