html
    block head
        title Safranière du Val d'Arly
        link(rel="stylesheet" type="text/css" href="css/style.css")
        link(rel="stylesheet", type="text/css" href="css/presentation.css")
        link(rel='stylesheet' type='text/css' href='css/accueil.css')
        link(rel='stylesheet' type='text/css' href='css/foot.css')
        link(rel='stylesheet' type='text/css' href='css/contact.css')
        link(rel='stylesheet' type='text/css' href='css/formations.css')
        link(rel='stylesheet' type='text/css' href=('css/coaching.css'))
    body
        div(id='containerHead')
            div(id='topHead')
                    div(id='logo')
                        img(src="img/accueil/logoSite.png", alt="Logo Safranière du Val d'Arly")
                    ul(id='contact')
                        li
                            a(href='/contact' id='contact') 
                                img(src="img/accueil/iconEmail.png", alt="safraniereduvaldarly@gmail.com")
                                p CONTACT
                        li
                            a(href='/Agenda' id='agenda')
                                img(src='img/accueil/iconAgenda.png')
                                p AGENDA
                        li
                            a(id='rechercher')
                                img(src='img/accueil/iconSearch.png')
                                p RECHERCHER
                    div(id='newsletter')
                        p(id='newsletterT') NEWSLETTER
                        div
                            p Restez au fait de notre actualité
                            div(id='newsletterI')
                                input(type="text" value='Email*')
                                button OK
                    div(id='reseau')
                        p CHAINES:
                        div
                            a(href="https://www.facebook.com/safraniere.duvaldarly.3")
                                img(src="img/accueil/iconFacebook.png", alt="https://www.facebook.com/safraniere.duvaldarly.3")
                            a(href='https://www.youtube.com/channel/UCgmdorGGzbFgzyE2A8k68dw')
                                img(src='img/accueil/iconYoutube.png', alt='https://www.youtube.com/channel/UCgmdorGGzbFgzyE2A8k68dw')


            ul(id='botHead')
                li(id='accueil')
                    a(href='/')
                        p Accueil
                li
                    a(href='/presentation' id='Biographie')
                        p Présentation
                li
                    a(href='/formations' id='formations')
                        p Formations
                li
                    a(href='/coaching' id='coaching')
                        p Coachings
                li
                    a(href='/boutique' id='boutique')
                        p Boutique
                li
                    a(href='/questionnaire' id='questionnaire')
                        p Questionnaires
                li
                    a(href='/blog' id='blog')
                        p Blog
        div(id='containerMain')
            block rightBlock
            block content
        div(id='researchRight')
            ul
                li
                    a(href="")
                        p Reunion en ligne
                li
                    a(href="")
                        p Boutique
                li
                    a(href="")
                        p Newsletters
                li
                    a(href="")
                        p Inscription Formation Coaching
        div(class='spaceNoneH' style='height: 30px;')
        script(src="https://code.jquery.com/jquery-3.5.1.min.js")
        script(src='/javascripts/script.js')
            