ul(id='containerRecherche')
            li(id='search')
                h7(class='text-dark') Qui suis je?
            li 
                a(href='/formation-kine')
                    p Masseuse / Masseur / Kinesitherapeute
            li
                a(href='/formation2')
                    p Veterinaire / Medecin / Employé de magasin BIO
            li 
                a(href='/formation3')
                    p Architecte du paysage / futur permaculteur
            li
                a(href='/formation4')
                    p Autre