ul(id='containerRecherche')
            li(id='search')
                h4 Qui suis je?
            li 
                a(href='/formations')
                    p Masseuse / Masseur / Kinesitherapeute
            li
                a(href='/formations')
                    p Veterinaire / Medecin / Employé de magasin BIO
            li 
                a(href='/formations')
                    p Architecte du paysage / futur permaculteur
            li
                a(href='/formations')
                    p Autre