ul(id='containerRecherche')
            li(id='search')
                h4 Ce que je recherche:
            li 
                a(href='/formations')
                    p Diminuer mon empreinte Carbonne professionnelle
            li
                a(href='/formations')
                    p Fabriquer des remèdes naturels
            li 
                a(href='/formations')
                    p Devenir Référent local auprès de ma patientèle
            li
                a(href='/formations')
                    p Donner un sens à mon travail
            li
                a(href='/formations')
                    p Travailler avec des parfums agréables
            li 
                a(href='/coaching')
                    p Connaitre les limites pour utiliser les remèdes naturels au travail
            li
                a(href='/coaching')
                    p Améliorer ma Qualité de Vie au Travail
            li 
                a(href='/coaching')
                    p Gagner du temps
            li
                a(href='/coaching')
                    p Etre recommandé positivement
            li
                a(href='/coaching')
                    p Doubler mon chiffre d'affaire
            li
                a(href='/coaching')
                    p Bien connaître des plantes locales
            li
                a(href='/coaching')
                    p Reconnaitre les plantes utile adaptées à mes patients
            li
                a(href='/boutique')
                    p Préserver la biodiversité
            li
                a(href='/boutique')
                    p Utiliser l'huile précieuse au pétale de Crocus