extends includes/index.pug
block rightBlock
    include includes/research.pug
block content
    div(id='containerBack')
        div(id='carrousel')
            ul
                li 
                    img(src="img/photoAccueilBack.jpg", alt="")
                li
                    img(src="img/photoAccueilBack1.jpg", alt="")
                li
                    img(src="img/logoSafraniere.jpg", alt="")