extends includes/index.pug
block rightBlock
    include includes/research2.pug
block content
    div(id='containerBack')
        div(id='containerBoutique')
            h1=title
            ul(id='containerImage')
                li
                    a(href="")
                        img(src="img/boutique/BaumeAlambinier.webp")
                li
                    a(href="")
                        img(src="img/boutique/BaumeChat.webp")
                li
                    a(href="")
                        img(src="img/boutique/BaumeHydratant.webp")
                li
                    a(href="")
                        img(src="img/boutique/BaumeSeve.webp")
                li
                    a(href="")
                        img(src="img/boutique/confitOignon.webp")
                li
                    a(href="")
                        img(src="img/boutique/confitOignonMiel.webp")
                li
                    a(href="")
                        img(src="img/boutique/confitureBrugnon.webp")
                li
                    a(href="")
                        img(src="img/boutique/confiturePomme.webp")
                li
                    a(href="")
                        img(src="img/boutique/confiturePommeSafran.webp")
                li
                    a(href="")
                        img(src="img/boutique/daucusCarota.webp")
                li
                    a(href="")
                        img(src="img/boutique/herbeAromatique.webp")
                li
                    a(href="")
                        img(src="img/boutique/huilePrecieuse.webp")
                li
                    a(href="")
                        img(src="img/boutique/PommeConfiteSafran.webp")
                li
                    a(href="")
                        img(src="img/boutique/safranMillesime.webp")
                li
                    a(href="")
                        img(src="img/boutique/vinaigreSafrane.webp")