extends includes/index.pug
block rightBlock
    include includes/research2.pug
block content
    div(id='containerBack')
        div(id='containerCoaching')
            h3(class='center' style='color:black') Coaching
            p L’actualité récente vous incite à adapter vos pratiques et à revenir à des choses naturelles.
            p Vous êtes un-e professionnel-le de la Santé, du Bien-Être.
            p Vous vous questionnez sur ce que peuvent vous apporter des produits plus naturels et les plantes…
            p Vous recherchez un professionnel possédant une maîtrise exhaustive des plantes à votre disposition et qui puisse vous orienter ou répondre à vos besoins.
            p Vous avez besoin de rebondir, de vous informer, de connaître les normes en vigueur.
            p Vous êtes dans une démarche active d'évolution de votre activité vers une pratique plus raisonnée.
            p Nous mettons à votre disposition une offre personnalisée avec des services adaptés à votre rythme professionnel et à vos contraintes quotidiennes : coaching, suivi sur place ou accompagnement à distance sous forme d’abonnements.