extends includes/index.pug
block rightBlock
    include includes/research.pug
block content
    div(id='containerBack')
        div(id='containerContact')
            h2 Contact
        //div(id='containerContact')
            (h2(class='text-center text-dark') Demande de renseignements
            p(class='text-center text-dark') Contactez-moi pour en savoir plus sur les formations proposées.
            form(style='margin-top:40px;')
                div(class="form-row")
                    div(class="form-group col-md-6")
                        label(for="inputNom") Nom :
                        input(type="nom" class="form-control" id="inputNom" placeholder='Nom')
                    div(class="form-group col-md-6")
                        label(for="inputPrenom") Prenom :
                        input(type="prenom" class="form-control" id="inputPrenom" placeholder='Prenom')
                div(class="form-group")
                    label(for="exampleInputEmail1") Adresse e-mail :
                    input(type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder='Email')
                    small(id="emailHelp" class="form-text text-muted") Nous ne partagerons jamais votre e-mail avec qui que ce soit.
                div(class="form-group mb-3")
                    label(for="inputMessage") Message :
                    textarea(class="form-control h-25" rows='5' id="inputMessage" placeholder="Message")
                div(class='col text-center')
                    button(type="submit" class="btn btn-primary") Valider