extends includes/index.pug
block rightBlock
    include includes/research2.pug
block content
    div(id='containerBack')
        div(id='containerFormation')
            p Madame, Monsieur,
            p Toutes les formations durent 2 jours et demi: Vendredi, Samedi, et Dimanche matin afin que vous puissiez profiter de votre dimanche après-midi. Elles se déroulent dans un de nos chalet en montagne, à 1200m d'altitude, au coeur du haut Val d'Arly pittoresque. Le but de ces formations est de vous fournir #[strong des outils utilisables directement] et de vous offrir #[strong un incroyable moment de détente en montagne.]
            p Pour voir les informations sur les accompagnements sur 100h, vous devez vous référer à l'onglet "Coachings". L'horizon recherché est de vous mener à une autonomie complète.
            h4(class='surlign text-dark') Votre hébergement pendant les formations:
            p Lorsque le nombre de participants le permet nous séjournons dans  le chalet principal, qui comprend un jacuzzi (thérapeuticum) et un sauna pour vous détendre. Sur une surface de 320 m²  le chalet est récent et très lumineux. Il comprend 7 chambres, la pluspart avec salle de bain indépendante, et une grande terrasse abritée.
            p La cuisine est à votre disposition pour vos petits déjeuners et repas sur place. Néanmoins les restaurants du village se situent à quelques centaines de mètres seulement et vous pouvez envisager d'y prendre vos repas.
            ul(id='imgHeber')
                        li(class='nomargin')
                            img(src='img/formation/gallery1.jpg')
                            img(src='img/formation/gallery2.jpg' style='margin-left:5px;')
                        li(class='nomargin')
                            img(src='img/formation/gallery3.jpg')
                            img(src='img/formation/gallery4.jpg' style='margin-left: 5px;')
            h4(class='surlign text-dark') Infos pratiques :
            p(class='surlign text-dark') Horaires de la formation :
            p(class='margin-left') du vendredi matin 8h30 au dimanche 12h
            p(class='surlign text-dark') Situation du village:
            p(class='margin-left') Notre Dame de Bellecombe est situé à 15 minutes de Megève, 1h de Genève et Chamonix. Accès piéton pour les randonneurs au pied de la Chaîne des Aravis et au Tour du Pays du Mont Blanc.
            p(class='surlign text-dark') Réservation taxi : 
            p(class='margin-left') Taxi Allo-Dominique: +33 6 71 97 57 72
            p(class='margin-left') Taxi Di Tullio: +33 6 49 28 94 52
            p(class='margin-left') Bus : Léman express jusqu’à Sallanches ou St Gervais MontBlanc. Lignes de bus 82, 83 jusqu’à Praz sur Arly
            p(class='surlign text-dark') Localiser le chalet à Notre Dame de Bellecombe :
            div(style="width: 100%;margin-top:30px;")
                <iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=+(la%20safrani%C3%A8re%20du%20val%20d'arly)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
            p(class='surlign text-dark') Prise en charge de la formation par Pôle emploi et dans le cadre de la formation continue :
            p(class='margin-left') L'entreprise est en cours d'agrément auprès de la DIRECCTE Auvergne Rhone-Alpes et certifications datadock, afnor.
            a(href="/inscription" style='margin-top:40px') Lien Formulaire de pré-inscription Safranière du Val d'Arly