extends includes/index.pug
block rightBlock
    include includes/research2.pug
block content
    div(id='containerBack')
        div(id='containerFormation')
            p Le programme des formations est en cours d'écriture. Pour adapter au mieux les programmes, SVP expliquez moi votre besoin par email.
            a(href="") safraniereduvaldarly@gmail.com
            a(href="/inscription" style='margin-top:40px') Lien Formulaire de pré-inscription Safranière du Val d'Arly
