extends includes/index.pug
block rightBlock
    include includes/research2.pug
block content
    div(id='containerBack')
        div(id='containerFormation')
            div(id='formationTop')
                img(src="img/accueil/logoSite.png", style='margin-left:-40px', alt="safranière du val d'arly")
                h4(class='center' style='color:black;') FORMATION CONTINUE EN ECOLOGIE ET BOTANIQUE APPLIQUEE A LA KINESITHERAPIE
                img(src="img/formation/logoEcopreneur.png", alt="https://ecopreneur.fr/")
            p Madame, Monsieur, 
            p Si les mots : traitement naturel, produits responsables, plantes sauvages et locales, autonomie, circuit court, vous parlent. Cette formation est faite pour vous !
            p Votre jardin et la montagne sont des trésors de plantes médicinales. Grâce à ces milieux naturels, vous pourrez soigner vos patients ou vos proches.
            p A partir du 23 octobre, nous constituons un nouveau groupe ! Composé de masseur-kinésithérapeutes, de réflexologues et acupuncteurs. Ce groupe vous fera vivre, au cœur des Alpes, l’approche d’une nature authentique et incroyablement enrichissante.
            p Nous vous amènerons à fabriquer vous-même vos propres remèdes pour vos patients. Les outils nécessaires à la fabrication de potions, onguent, remèdes… seront les vôtres à l’issue de la formation.
            p La formation durera deux jours et demi. Un peu de théorie au début, puis s’orientera vers de la pratique
            p détaillée et se terminera dimanche midi. Par ailleurs, vous passerez un merveilleux week-end détente !
            p Rejoignez-Nous !
            p(class='blue-color') Votre intervenante :  
                a(href='/biographie') Dominique Murador
            h3(class='strong blue-color') Thèmes de la formation et objectifs :
            p(class='blue-color') Fabrication de remèdes naturels à partir de plantes sauvages et locales.
            li
                span(class='oj-color surlign') RHUMATOLOGIE :  
                p arthroses, PR, spondylarthrite ankylosante, algo neuro dsytrophie…
            li
                span(class='oj-color surlign') TRAUMATOLOGIE :  
                p hématomes, entorses, luxation, fractures, tendinites...
            li
                span(class='oj-color surlign') SYSTÈME RESPIRATOIRE :  
                p bronchites chroniques, emphysèmes...
            li
                span(class='oj-color surlign') SYSTÈME CICATRICES SUPERFICIEL ET PROFOND :  
                p cicatrices chéloïdes, élongations et déchirures musculaires...
            li
                span(class='oj-color surlign') SOINS ET BIEN-ÊTRE RÉCUPÉRATION DES SPORTIFS
            p A l'issue de ce stage vous serez capables de reconnaître et cueillir les plantes locales choisies. Et réaliser vous-même vos préparations pour traiter les pathologies que vous rencontrez.
            p Nos formations continues sont qualifiantes, orientées vers une pratique professionnelle.  Néanmoins les amateurs de médecines traditionnelle sont les bienvenus.
            p Unissons nos compétences pour apporter à vos patients et vos proches, les meilleurs soins !
            h3(class='strong blue-color') Déroulé de la formation :
            p(class='blue-color') 1er jour :
            p 8h30 :Petit déjeuner 
            p 9h :Tour de table : Présentation des participants
            p 9h45 -10h30: Comment transformer les plantes en remèdes ?
            p 10h30-11h : Pause au grand air
            p 11h-12h : Comment transformer les plantes en remèdes ? (suite)
            p 12h-14h : Pause repas et sieste
            p 14h-16h45: Réalisation d’un baume selon les principes généraux et Création de produits transformés simples
            p 16h45-17h : Tour de table : Retour sur la journée
            p(class='blue-color') 2ème jour :
            p 8h30 :Petit déjeuner
            p 9h :Tour de table : Météo personnelle et suivi des objectifs
            p 9h45- 10h30 :Théorie Biochimie des plantes, Principes actifs des plantes (1ère partie)
            p 10h30-10h45 : Pause au grand air
            p 10h45-12h : Théorie Biochimie des plantes, Principes actifs des plantes (2nde partie)
            p 12h-14h : Pause repas et sieste
            p 14h-17h : Récolte : Reconnaître et Cueillir les plantes locales utiles. Fiches de reconnaissance des plantes offertes au format pdf
            p(class='blue-color') 3ème jour :
            p 8h30 :Petit déjeuner
            p 9h :Tour de table : Météo personnelle et suivi des objectifs
            p 9h45-12h Fabrication de macérats et onguents que vous emporterez
            p 12h Fin de la formation.
            p Après-midi : Vous êtes libres de déjeuner sur place ou de vous préparer un pique-nique avant une rando en montagne. Le chalet reste ouvert jusqu'à 16h.
            div(id='formationInfo')
                h4(class='strong') Infos pratiques :
                li
                    span(class='strong') Horaires de la formation : 
                    p(class='nomargin') du vendredi matin 8h30 au dimanche 12h
                li
                    span(class='strong') Lieu : 
                    p(class='nomargin') Chalet neuf, tout confort, wifi, grandes baies vitrées, au coeur du Haut Val d’Arly pittoresque.
                li 
                    span(class='strong') Situation :
                    p(class='nomargin') Notre Dame de Bellecombe est situé à 15 minutes de Megève, 1h de Genève et Chamonix. Accès piéton pour les randonneurs au pied de la Chaîne des Aravis et au Tour du Pays du Mont Blanc
                li
                    span(class='strong') Réservation taxi :
                    p(class='nomargin') Bus : Léman express jusqu’à Sallanches ou St Gervais MontBlanc. Lignes de bus 82, 83 jusqu’à Praz sur Arly
                li
                    span(class='strong') Prise en charge de la formation dans le cadre de la formation continue :
                    p(style='margin-bottom:20px', class='nomargin') L’entreprise est en cours de certifications datadock et afnor