extends includes/index.pug
block rightBlock
    include includes/research.pug
block content
    div(id='containerBack')
        div(id='containerInscription')
            <iframe src="https://framaforms.org/formulaire-de-pre-inscription-safraniere-du-val-darly-1602693014" width="100%" height="800" border="0" ></iframe> 