extends includes/index.pug
block rightBlock
    include includes/research.pug
block content
    div(id='containerBack')
        div(id='containerNewsletter')
            <iframe src="https://framaforms.org/inscription-et-desinscription-a-la-newsletter-1602702327" width="100%" height="800" border="0" ></iframe> 