extends includes/index.pug
block rightBlock
    include includes/research.pug
block content
    div(id='containerBack')
        div(id='containerBiographie')
            div(id='containerProfil')
                div(style='border: 1px solid gray;')
                    div(id='nomProfil')
                        p(class='strong blue-color center') Dominique Murador
                    div(id='photoProfil')
                        img(src="img/photoProfil.jpg", alt="Photo Dominique Gouron")
                div(id='atouts', class='margin-left')
                    ul
                        h3(class='blue-color') LANGUES
                        li
                            p Français
                        li 
                            p Anglais
                        li
                            p Russe
                div(id='interets', class='margin-left')
                    ul
                        h3(class='blue-color') INTERETS
                        li
                            p Speologie
                        li
                            p Clown
                        li
                            p Nature
            div(id='containerPresentation')
                div(id='presentation')
                    h3(class='margin-top-20' style='color:black;') Votre intervenante :
                    p(class='margin-top-20 italic blue-color') Je vous propose une expertise reconnue au service des masseur-kinésithérapeutes et des professionnels du bien-être et de la santé.
                    h4(class='margin-top-10 surlign blue-color') Mes valeurs:
                    p(class='margin-top-10 italic') Pour moi l'éducation en formation continue ne consiste pas à vous apprendre que ce que je vous enseigne est préférable, c'est apprendre à penser par soi-même pour faire les meilleurs choix de remèdes naturels.
                    h4(class='margin-top-20 surlign blue-color') Mes études:
                    p(class='margin-top-10 blue-color') Master Ecologie, Biodiversité, Evolution 
                    p(class='margin-top 10 blue-color') Licence professionnelle de Biochimie et Biologie Moléculaire
                    p(class='margin-top-10 strong') - Spécialité:
                    ul(class='margin-left margin-top-10')
                        li Physiologie végétale
                        li Réponse et Adaptation des Végétaux aux contraintes
                        li Ecophysiologie des Plantes Alpines
                        li Génétique
                        li Ecologie fonctionnelle, Ecologie fondamentale
                    p(class='margin-top-10 italic') Par le passé je me suis formée au travail minutieux sur les paillasses des laboratoires de l'INRA et du CNRS. Des études supérieures diplômantes en université à Paris et Grenoble m'ont conduite à être experte en biodiversité et création d'entreprise.
                    p(class='margin-top-10 blue-color') Licence professionnelle de Biochimie et Biologie Moléculaire
                    p(class='margin-top-10 strong') - Appliquée à la création d'entreprise
                    h4(class='margin-top-20 surlign blue-color') Lauréate de concours:
                    p(class='margin-top-10 blue-color') - Sélection parmi les 1000 Défis pour ma planète, suite au Sommet de Rio
                    p(class='blue-color') - 1er prix du public et du Jury à Toques éthiques, Cuisine haut de gamme à faible empreinte Carbone
                    h4(class='margin-top-20 surlign blue-color') Mon parcours : 
                    p(class='margin-top-10 italic') Depuis 2012 je mène ma petite safranière bio à 1200 mètres d'altitude sur les hauteurs de Notre-Dame-de-Bellecombe.
                    p(class='italic margin-top-5') Pendant 15 ans j'ai animé des sorties naturalistes et je pratique la bio-spéléologie depuis 10 ans.  
                    p(class='italic margin-top-5') Aujourd'hui j'effectue des cueillettes de plantes sauvages, vendues fraîches ou séchées. Toutes les plantes sont traitées manuellement suivant un cahier des charges très exigeant que j’ai mis au point. 
                    p(class='italic margin-top-5' style='margin-bottom:10px') Je suis autonome dans une gestion éthique de la Safranière du Val d’Arly : je vous propose ma ligne de cosmétiques naturels et locaux. 


