extends includes/index.pug
block rightBlock
    include includes/research.pug
block content
    div(id='containerBack')
        div(id='containerBiographie')
            div(id='containerProfil')
                div(style='border: 1px solid gray;')
                    div(id='nomProfil')
                        p(class='strong blue-color center nomargin') Dominique Gouron Murador
                    div(id='photoProfil')
                        img(src="img/presentation/photoProfil.jpg", alt="Photo Dominique Gouron")
                div(id='atouts', class='margin-left')
                    ul
                        h3(class='blue-color') LANGUES
                        li
                            p Français
                        li 
                            p Anglais
                        li
                            p Russe
                div(id='interets', class='margin-left')
                    ul
                        h3(class='blue-color') INTERETS
                        li
                            p Spéléologie
                        li
                            p Clown
                        li
                            p Nature
            div(id='containerPresentation')
                div(id='presentation')
                    h2 Votre intervenante :
                    p Les particuliers et toutes les personnes souhaitant comprendre la biodiversité et l'utilisation des plantes sauvages qui nous entourent sont aussi les bienvenues!
                    p(class='italic') Je vous propose une expertise reconnue au service des masseur-kinésithérapeutes et des professionnels du bien-être et de la santé.
                    h4(class='surlign text-dark') Études:
                    p Master Ecologie, Biodiversité, Evolution 
                    p Licence professionnelle de Biochimie et Biologie Moléculaire
                    p(class='strong text-dark') - Spécialité:
                    ul(class='margin-left')
                        li Physiologie végétale
                        li Réponse et Adaptation des Végétaux aux contraintes
                        li Ecophysiologie des Plantes Alpines
                        li Génétique
                        li Ecologie fonctionnelle, Ecologie fondamentale
                    ul(id='imgEtudes')
                        li
                            img(src="img/presentation/gallery1.png")
                        li
                            img(src="img/presentation/gallery2.png")
                        li(id='imgCo')
                            img(src="img/presentation/gallery3.png")
                            img(src="img/presentation/gallery4.png")
                        li
                            img(src='img/presentation/gallery5.png')
                    h4(class='surlign text-dark') Lauréate de concours:
                    p - Sélection parmi les 1000 Défis pour ma planète, suite au Sommet de Rio
                    p - 1er prix du public et du Jury à l'exposition Toques éthiques: Cuisine haut de gamme à faible empreinte Carbone
                    p - 1/2 finale championnat de France de Rugby - CSM Puteaux
                    h4(class='surlign text-dark') Mon parcours : 
                    p(class='italic') Depuis 2012 je mène ma petite safranière bio à 1200 mètres d'altitude sur les hauteurs de Notre-Dame-de-Bellecombe.
                    p(class='italic') Pendant 15 ans j'ai animé des sorties naturalistes et je pratique la bio-spéléologie depuis 10 ans.  
                    p(class='italic') Aujourd'hui j'effectue des cueillettes de plantes sauvages, vendues fraîches ou séchées. Toutes les plantes sont traitées manuellement suivant un cahier des charges très exigeant que j’ai mis au point. 
                    p(class='italic') Je suis autonome dans une gestion éthique de la Safranière du Val d’Arly : je vous propose ma ligne de cosmétiques naturels et locaux.
                    h4(class='surlign text-dark') Mes valeurs:
                    p(class='italic') La formation continue, c'est apprendre à penser par soi-même pour faire les meilleurs choix de remèdes naturels.


