extends includes/index.pug
block rightBlock
    include includes/research.pug
block content
    div(id='containerBack')
        div(id='containerQuestionnaire')
            h1=title
            <iframe src="https://framaforms.org/mieux-vous-connaitre-centre-des-medecines-naturelles-de-savoie-1601823023" width="100%" height="800" border="0" ></iframe>
            <iframe src="https://framaforms.org/formation-continue-en-ecologie-et-botanique-appliquee-a-la-kinesitherapie-1601751793" width="100%" height="800" border="0" ></iframe>