extends includes/index.pug
block rightBlock
    include includes/research.pug
block content
    div(id='containerBack')
        div(id='containerQuestionnaire')
            h2(class='text-dark') Questionnaires
            div(class='accordion' id='accordion' style='margin-top:30px;')
                div(class='card')
                    div(class='card-header' id='heading1')
                        h2(class="mb-0")
                            a(href="#questionnaire1")
                                button(class='btn btn-link btn-block text-left' type='button' data-toggle='collapse' data-target='#collapse1' aria-expended='true' aria-controls='collapse1').
                                    Mieux vous connaite, << Centre des Médecine Naturelles de Savoie >>
                    div(id='collapse1' class='collapse' aria-labelledby='heading1' data-parent='#accordion')
                        div(class='card-body')
                            a(href="https://framaforms.org/mieux-vous-connaitre-centre-des-medecines-naturelles-de-savoie-1601823023") Lien du Formulaire
                            <iframe id='questionnaire1' src="https://framaforms.org/mieux-vous-connaitre-centre-des-medecines-naturelles-de-savoie-1601823023" width="100%" height="800" border="0" ></iframe>
                div(class='card')
                    div(class='card-header' id='heading2')
                        h2(class="mb-0")
                            a(href='#questionnaire2')
                                button(class='btn btn-link btn-block text-left' type='button' data-toggle='collapse' data-target='#collapse2' aria-expended='true' aria-controls='collapse2').
                                    Formation continue en Ecologie et Botanique appliquée a la Kinésithérapie
                    div(id='collapse2' class='collapse' aria-labelledby='heading2' data-parent='#accordion')
                        div(class='card-body')
                            a(href="https://framaforms.org/formation-continue-en-ecologie-et-botanique-appliquee-a-la-kinesitherapie-1601751793") Lien du Formulaire
                            <iframe id='questionnaire2' src="https://framaforms.org/formation-continue-en-ecologie-et-botanique-appliquee-a-la-kinesitherapie-1601751793" width="100%" height="800" border="0" ></iframe>
            //a(href="https://framaforms.org/mieux-vous-connaitre-centre-des-medecines-naturelles-de-savoie-1601823023")
                p https://framaforms.org/mieux-vous-connaitre-centre-des-medecines-naturelles-de-savoie-1601823023   
            //a(href="https://framaforms.org/formation-continue-en-ecologie-et-botanique-appliquee-a-la-kinesitherapie-1601751793")
                p https://framaforms.org/formation-continue-en-ecologie-et-botanique-appliquee-a-la-kinesitherapie-1601751793
            //<iframe src="https://framaforms.org/formation-continue-en-ecologie-et-botanique-appliquee-a-la-kinesitherapie-1601751793" width="100%" height="800" border="0" ></iframe>