#containerBiographie{
    width: 100%;
    height: 100%;
    padding: 5px;
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    color:rgb(7, 99, 185);
}
.italic{
    font-style: italic;
}
.strong{
    font-weight: bold;
}
#containerBiographie p{
    margin-top: 20px;
}
#containerBiographie h2, #containerBiographie h3, #containerBiographie h4{
    margin-top: 30px;
    color: black;
}
.margin-left{
    margin-left: 40px;
}
.surlign{
    text-decoration: underline;
}
#atouts li, #interets li{
    list-style-type: none;
    margin-left:20px;
    margin-top: 10px;
}
#atouts h3, #interets h3{
    margin-top: 20px;
}
#atouts p, #interets p{
    color:black;
}
#containerProfil, #containerPresentation{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
#imgEtudes{
    display: flex;
    list-style-type: none;
    margin-top: 20px!important;
    margin-bottom: 20px!important;
}
#imgEtudes li{
    margin-left: 10px!important;
    padding: 0!important;
    width: 25%;
}
#imgEtudes li:before{
    content: ''!important;
}
#imgEtudes img{
    width: 100%;
    height: 100px;
}
#imgCo img{
    height: 50px;
}
#containerPresentation ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
#containerPresentation li{
    padding-left: 3em;
    text-indent: -.7em;
    margin-top: 5px;
}
#containerPresentation li::before{
    content:"• ";
    color:black;
}
#containerProfil{
    margin-top: 10px;
    width: 25%;
    height: 100%;
}
#nomProfil{
    display: flex;
    width: 100%;
    height: 40px;
    align-items: center;
    vertical-align: center;
}
#nomProfil p{
    width: 100%;
}
#containerProfil img{
    width: 100%;
}
#containerPresentation{
    width: 70%;
    height: 100%;
    margin-left: 30px;
}