* { padding : 0; margin : 0; }
html{
    width: 100%;
    height: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}
body{
    cursor: default;
    width: 100%;
    margin: 0;
    display: flex;
    font-family: "market_fresh", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    flex-direction: column;
    align-content: space-around;
}
.nav-link.active{
    border-color: black black white!important;
}
.nav-link{
    border-color: white white black!important;
}
p, ul{margin-bottom: 0!important;}
@font-face {
    font-family: "market_fresh";
    src: url("font/market_fresh/Market-Fresh.ttf");
}
#containerHead{
    display: flex;
    flex-direction: column;
}
#topHead{
    display: flex;
    height: 130px;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgb(255, 242, 202);
    font-size: 15px;
}
#logo{
    display: flex;
}
#logo img{
    max-width: 300px;
    margin-left: -25px;
}
#contact{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
}
#contact li{
    width: 150px;
}
#contact a{
    height: 50px;
    display: flex;
    justify-content: center;
    font-size: 13px;
    width: 100%;
    list-style-type: none;
    text-decoration: none;
    border-right: 1px solid gray;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#rechercher{
    border: none!important;
}
#newsletter{
    margin-left: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#newsletterP{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}
#newsletterT{
    display:flex;
    justify-content: center;
    width: 115px;
    height: 0px;
}
#newsletterI{
    display: flex;
    flex-direction: row;
}
#newsletter input{
    width: 200px;
}
.btn-outline-success{
    color: rgb(153,17,3)!important;
    border-color:rgb(153,17,3) !important;
}
.btn-outline-success:hover{
    background-color: rgb(153,17,3)!important;
    color:#FFF2CA!important;
}
#reseau{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#reseau a{
    margin-right: 20px;
}
#reseau img{
    width: 40px;
    height: 40px;
}
#botHead{
    margin-left: 260px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom-color: black;
}
#bothead li{
    width: 14.286%;
}
.noborder{
    border-bottom: none!important;
}
#botHead a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 17px;
    color: rgb(153,17,3);
}
#botHead li:hover, #botHead li:hover a{
    transition-duration: 0.5s;
    cursor:pointer;
    background-color: rgb(153,17,3); 
    color: #FFF2CA;
}
#containerMain{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
#containerBack{
    height: 100%;
    padding-top: 20px;
    margin-bottom: 50px;
    width: 72%;
    display: flex;
    background-size: cover;
}
#containerRecherche{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    list-style-type: none;
    width: 260px;
    height: 100%;
    min-width: 260px;
    color: black;
}
#containerRecherche li{
    margin: 0 auto;
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: center;
}
#containerRecherche li:hover a{
    color: #FFF2CA;
    background-color: rgb(107,79,153);
}
#containerRecherche a{
    width: 85%;
    height: 50px;
    background-color: rgb(215,208,239);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: sans-serif;
    color: rgb(153,17,3); 
}
#containerRecherche p{
    text-align: center;
    font-size: 15px;
}
#search{
    display: flex;
    align-items: center;
}
#search h4{
    width: 100%;
    text-align: center;
    color: rgb(153,17,3);
}
#researchRight{
    position: fixed;
    bottom: 2px;
    right: 0;
    width: 85px;
    height: 330px;
}
#researchRight ul{
    width: 100%;
    height: 100%;
    list-style-type: none;
}
#researchRight li{
    width: 100%;
    height: 25%;
}
#researchRight a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding:5px;
    height: 80px;
    width: 80px;
    background-color: rgb(215,208,239);
    color: rgb(153,17,3);
}
#researchRight p{
    text-align: center;
    width: 100%;
    font-size: 14px;
}
#researchRight li:hover a{
    background-color: rgb(107,79,153);
    color: #FFF2CA;
    cursor:pointer;
}